{
  "openapi": "3.1.0",
  "info": {
    "title": "Shannon Memory",
    "version": "1.0.0",
    "description": "Persistent knowledge memory with profiles"
  },
  "servers": [
    {
      "url": "https://latticeproxy.io/shannon"
    }
  ],
  "paths": {
    "/tenant/profiles": {
      "get": {
        "operationId": "listProfiles",
        "summary": "List knowledge profiles",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "profiles": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "profile_id": { "type": "string" },
                          "name": { "type": "string" },
                          "description": { "type": "string" },
                          "entry_count": { "type": "integer" }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/memory": {
      "get": {
        "operationId": "queryMemory",
        "summary": "Query saved knowledge by topic",
        "parameters": [
          {
            "name": "topic",
            "in": "query",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "agent",
            "in": "query",
            "required": false,
            "schema": { "type": "string" }
          },
          {
            "name": "limit_tokens",
            "in": "query",
            "required": false,
            "schema": { "type": "integer" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "entries": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "body": { "type": "string" },
                          "tags": { "type": "array", "items": { "type": "string" } },
                          "created_at": { "type": "string" },
                          "id": { "type": "string" }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "saveMemory",
        "summary": "Save knowledge to memory",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["body"],
                "properties": {
                  "body": { "type": "string" },
                  "agent": { "type": "string" },
                  "tags": { "type": "array", "items": { "type": "string" } },
                  "session_id": { "type": "string" },
                  "profile_id": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": { "type": "string" },
                    "ok": { "type": "boolean" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/memory/search": {
      "get": {
        "operationId": "searchMemory",
        "summary": "Keyword search saved knowledge",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": { "type": "integer" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "body": { "type": "string" },
                          "tags": { "type": "array", "items": { "type": "string" } }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/tenant/status": {
      "get": {
        "operationId": "checkStatus",
        "summary": "Check account status",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "tenant_id": { "type": "string" },
                    "status": { "type": "string" },
                    "entry_count": { "type": "integer" },
                    "storage_mb": { "type": "number" }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
